
// breakpoints
$zmg-sm: 576px; // Small devices (landscape phones, 576px and up)
$zmg-md: 768px; // Medium devices (tablets, 768px and up)
$zmg-l: 992px; // Large devices (desktops, 992px and up)
$zmg-xl: 1200px; // Extra large devices (large desktops, 1200px and up)

// colors
$zmg-color-white: #fff;
$zmg-color-dark: #000;
$zmg-color-yellow: #ffa600;
$zmg-color-green: #2cded3;
$zmg-color-grey: #ebebeb;

// font sizes
$zmg-font-xs: 0.75rem;
$zmg-font-s: 1rem;
$zmg-font-m: 1.5rem;
$zmg-font-l: 2rem;
$zmg-font-xl: 2.5rem;

// button
$zmg-btn-height: 2.5rem;
$zmg-btn-min-width: 2.5rem;
