<header class="zmg-header">
    <nav role="navigation" class="container zmg-header-nav">
      <h3 class="zmg-header-h3">Rule of Thumb.</h3>
      <div class="zmg-header-menu-icon">
        <button class="zmg-btn-white"><i class="fas fa-bars"></i></button>
      </div>
      <ul class="zmg-header-menu">
        <li><a class="zmg-link" (click)="goToPastTrials()">Past trials</a></li>
        <li><a class="zmg-link">How it works</a></li>
        <li><a class="zmg-link">Log in</a> / <a class="zmg-link">Sign up</a> </li>
        <li><i class="fas fa-search"></i></li>
      </ul>
    </nav>
  
    <section class="container zmg-header-card-section">
      <article class="zmg-header-card">
        <div class="zmg-header-card-section zmg-header-card-header">
          <p>What's your opinion on</p>
          <h1>Pope Francisco ?</h1>
        </div>
        <div class="zmg-header-card-section">
          <p>He's talking tough on sexual abuse, but is he another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)</p>
          <p class="zmg-header-card-wiki">
            <i class="fab fa-wikipedia-w"></i>
            <a class="zmg-header-card-wiki-more-info zmg-link">More information</a>
          </p>
        </div>
        <div class="zmg-header-card-footer">
          <p class="zmg-header-card-section zmg-text-bold">What's your verdict?</p>
          <div class="zmg-header-card-footer-votes">
            <button class="zmg-btn zmg-header-thumbs zmg-header-thumbs-up"><i class="fas fa-thumbs-up"></i></button>
            <button class="zmg-btn zmg-header-thumbs zmg-header-thumbs-down"><i class="fas fa-thumbs-down"></i></button>
          </div>
        </div>
      </article>
    </section>
  
    <section class="zmg-header-closing-section">
      <div class="zmg-header-closing zmg-text-right zmg-text-uppercase">closing in</div>
      <div class="zmg-header-closing zmg-text-l"><span class="zmg-text-bold">22</span> days</div>
    </section>
  </header>